# git ignore file
#Gaia.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.obj
*.pdb
*.user
*.aps
*.pch
*.vsps
*.vsp
*.psess
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.cache
*.docstates
Gaia/obj/
Gaia/obj/debug/
Gaia/bin/
packages/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
_FileCache/
timeStamp.dat
[Aa]pp_[Dd]ata/uploads*/